* {
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

/* Header */

nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 0px;
	height: 100px;
	background-color: white;
	border: .1px solid #EBEBEB;
	z-index: 100;
}


nav ul {
	max-width: 800px;
	padding: 0px;
	float: right;
	list-style-type: none;
}

nav li {
	display:inline-block;
	margin: 10px;
	margin-top: 10px;
}

nav li:hover {
	color: #49B4B6;
}


nav a {
	text-decoration: none;
	float: right;
	font-family: Roboto-Regular;
	font-size: 18px;
	font-weight: 600px;
	color: #000000;
	padding: 10px 40px;
	letter-spacing: 1px;
	text-align: center;
	display: inline-block;
	border-bottom: none;
}

.home {
	color: #49B4B6;
	font-size: 18px;
	font-family: Roboto-Bold, sans-serif;
}

.logo {
	width: 52px;
	height: 43px;
	margin: 30px;
	padding: 0px;
	margin-top: 30px;
}

/* Main part */

	#main-photo {
	width:1012px;
	height:884px;
	background-image:url('../imgs/mainphoto_1012x884.png');
	padding-top: 600px;
}

/* About */

.color-box {
	background-color: #000000;
	color: #FFFFFF;
	text-align: center;
	font-size: 24px;
	font-family: Roboto-Regular, sans-serif;
	padding: 150px;
}

h1,h3 {
	text-align: center;
}

h1 {
	font-size: 40px;
}

h3 {
	font-family: Roboto-Thin, sans-serif;
}

/* Gallery */

.gallery {
	margin-top: 50px;
	display: flex;
}

.gallery-center {
	align-items: center;
	justify-content: center;
}

.gallery-column {

	flex-direction: column;
}

.gallery-row {
	flex-direction: row;
}

.gallery-item {
	width: 33%;
	height: 33%;
}

.img {
	outline-style: solid;
}

/* Footer */

.footer {
	position: absolute;
	border: 0;
	background-color: #000000;
	color: #FFFFFF;
	font-family: Roboto, sans-serif, medium;
	font-size: 24px;
	text-align: center;
	width: 100%;
	height: 332px;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	padding: 110px;

}


footer ul {
	list-style-type: none;
}

footer li {
	list-style-type: none;
	display:inline-block;
	margin: 0px;
	
}

.contact a {	
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

.bottomlogo {
	padding: 0px;
	margin: 0px;
}

.footer-column {
	text-decoration: none;
}

@media only screen and (max-width: 790px) {

}