* {
	box-sizing: border-box;
}

/* Body */

body{
	margin:0px;
}

/* Header */

.hamburger {
		display: block;
		color: #fff;
		font-size: 1.7rem;
		position: absolute;
		top: 10px;
		left: 2px;
	}

nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 0px;
	height: 100px;
	background-color: #000000;
	z-index: 100;
}


nav ul {
	max-width: 800px;
	padding: 0px;
	float: right;
	list-style-type: none;
	font-family: Roboto-Bold, sans-serif;
}

nav li {
	display:inline-block;
	/*margin: 10px;*/
	margin-top: 10px;
}

nav li a:hover {
	color: #49B4B6;
}


nav a {
	text-decoration: none;
	float: right;
	/*font-family: Roboto-Regular;*/
	font-size: 18px;
	font-weight: 600px;
	color: #FFFFFF;
	padding: 10px 40px;
	letter-spacing: 1px;
	text-align: center;
	display: inline-block;
	border-bottom: none;
}

.home {
	color: #49B4B6;
	font-size: 18px;
	font-family: Roboto-Bold, sans-serif;
}

.logo {
	width: 52px;
	height: 43px;
	margin: 30px;
	padding: 0px;
	margin-top: 30px;
}

/* Main part */

	/*#main-photo {
	width:1012px;
	height:884px;
	background-image:url('../imgs/mainphoto_1012x884.png');
	padding-top: 600px;
}

/* About */

.color-box {
	background-color: #000000;
	color: #FFFFFF;
	text-align: center;
	font-size: 24px;
	font-family: Roboto-Regular, sans-serif;
	padding: 150px;
}

.white-box {	
	color: #000;
	text-align: center;
	font-size: 24px;
	font-family: Roboto-Regular, sans-serif;
	padding: 150px;
}

.mainImage{
	margin-bottom:-4px;
	width:100%;
	min-width:300px;
}

h1,h3 {
	text-align: center;
}

h1 {
	font-size: 40px;
	font-family: Roboto-Bold, sans-serif;
}

h3 {
	font-family: Roboto, sans-serif;
}

/* Gallery */

.gallery {	
	display: flex;
}

.gallery-center {
	padding-left:15px;
	padding-right:15px;
	align-items: center;
	justify-content: center;
	text-align:center;
}

.gallery-column {
	flex-direction: column;
}

.gallery-row {
	flex-direction: row;
}

.gallery-item {
	width: 32%;
	height: 33%;
	padding: 15px;
	border: 1px solid #EBEBEB;
	border-radius: 5px;
	padding-top: 45px;
    padding-right: 45px;
    padding-bottom: 45px;
    padding-left: 45px;
}

/* Slideshow */

/*#carousel {
	padding-right: 80px;
    padding-left: 74px;
}
*/

/* Footer */

.footer {
	
	border: 0;
	background-color: #000000;
	color: #FFFFFF;
	font-family: Roboto, sans-serif, medium;
	font-size: 18px;
	text-align: center;
	width: 100%;	
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	padding: 15px;

}


footer ul {
	list-style-type: none;
}

footer li {
	list-style-type: none;
	display:inline-block;
	
}

.contact a {	
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

.bottomlogo {
	padding: 0px;
	margin: 0px;
}

.footer-column {
	text-decoration: none;
}

.footer-column a{
	text-decoration: none;	
	font-size: 18px;
	font-weight: 600px;
	color: #fff;
	padding: 10px;	
	text-align: center;
	display: inline-block;
	border-bottom: none;
}

.footer-column a:hover{
	color: #49B4B6;
}


@media only screen and (max-width: 700px) {
nav {	
	height: unset;	
}
nav li{
	margin:0px;
	display:block;
}
.gallery{
	display:block;
}
.color-box{
	padding:15px;
	font-size:18px;
}

.white-box{
	padding:15px;
	font-size:18px;
}
#carousel{
	padding:0px;
}
.footer{
	flex-direction:column;
}

}

/* Button */

button {
	font-size: 12px;
    width: 200px;
    line-height: 16px;
    text-align: center;
    font-size: 24px;
    display: inline-block;
    border: none;
    padding: 10px 25px;
    color: #ffffff;
    background-color: #49B4B6;
    letter-spacing: 1px;
    text-decoration: none;
    cursor: pointer;
	transition: all .3s ease-in-out;
}

button:hover {
	background-color: #067779;	
	font-weight: 600;
}

textarea {
	width: 97%;
	display: inline;
}

input, textarea {
	border: 1px solid #D5D3D3;
	font-size: 18px;
	margin-bottom: 12px;
	margin-bottom: .8rem;
	padding: 10px 10px;
	outline: 0;
}

.col-third {
	width: 32%;
}

